<div class="container">
  <div class="header">
    <top-navigation></top-navigation>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <left-navigation></left-navigation>
    </div>
    <div class="main">
      <div class="left-section">
        <first-static-column></first-static-column>
      </div>
      <div class="right-section">
        <!-- <div class="total-balance-card"> -->
        <total-balance-card></total-balance-card>
        <!-- </div> -->
        <!-- <div class="statistics-cards-graph"> -->
        <statistics-cards-graph></statistics-cards-graph>
        <!-- </div> -->
        <!-- <div class="transaction-history-grid"> -->
        <transaction-history-grid></transaction-history-grid>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>