<div class="container">
  <div class="header">
    <top-navigation></top-navigation>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <left-navigation></left-navigation>
    </div>
    <div class="main">
      <div class="left-section">
        <first-static-column></first-static-column>
      </div>
      <div class="right-section">
        <total-balance-card></total-balance-card>
        <statistics-cards-graph></statistics-cards-graph>
        <transaction-history-grid></transaction-history-grid>
      </div>
    </div>
  </div>
</div>